@model IEnumerable<CourseMangmentSystemWeb.ViewHanka.ViewCourses>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

<h1> @*<i class="bi bi-plus-circle"></i>&nbsp *@Register Courses</h1>

@*<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PhotoUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hours)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Instractor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>*@
<div class="row ">
@foreach (var item in Model) {
    <div class="col-3 " style="padding: 40px;">
        <div class="card h-100  " style="width: 18rem;">
            <img style=" width:auto; height:190px;" src="~/images/@item.Course.PhotoUrl" alt=" " />
            <div class="card-body">
                    <h5 class="card-title  mb-3 "> @item.Course.Name</h5>
                    <h6 class="card-title  mb-3"> Description:     @item.Course.Description</h6>

                    <h6 class="card-title mb-3"> Hours :  @item.Course.Hours</h6>
                    <h6 class="card-title mb-3"> Department Name:  @item.Course.Department.Name</h6>
                    <h6 class="card-title mb-3"> Instructor Name:  @item.Course.Instractor.FirstName @item.Course.Instractor.SecondName</h6>
                   
                    @if (item.IsRequested) {
                        <a class="btn btn-secondary"> <i class="fa-solid fa-lock"></i>&nbsp;  Pending</a>
                    }
                    else {
                        <a class="btn btn-primary" asp-action="Request" asp-route-id="@item.Course.Id"> <i class="fa-solid fa-plus"></i> &nbsp; Register Now</a>
                    }
            </div>

        </div>
    </div>
}
</div>
    @*</tbody>
</table>*@
