@model IEnumerable<CourseMangmentSystemWeb.Models.Course>

@{
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<style>
    thead{
    border-top-width: 1px;
   
    }
</style>
<div class=" d-flex justify-content-between flex-row" style="margin-top:60px;">
    <h1> <i class="bi bi-bookmarks-fill"></i> &nbsp Courses</h1>
   <div>
        <a class=" btn btn-danger p-2" style=" width:170px; " asp-action="Create" asp-controller="AdminCourses">  <i class="bi bi-plus-circle"></i> &nbsp; Create New</a>
    </div>
</div>

<table class="table table-striped table-hover  " style="margin-top:90px;">
    <thead>
        <tr class="text-center">
            <th>
                @Html.DisplayNameFor(model => model.PhotoUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hours)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Instractor)
            </th>
            <th>
                Actions 
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="text-center">
                <td>
                    <img   style =" height:110px; width:150px;"   src="~/images/@item.PhotoUrl" alt=" " />
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
             
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hours)
               
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department.Name)
              
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Instractor.FirstName )
                    @Html.DisplayFor(modelItem => item.Instractor.SecondName )
             
            </td>
            <td class="text-center">
                    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id">Details</a>
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
